
streamlit
numpy
pandas

# OpenCV (headless in Linux, normal on Windows)
opencv-python-headless

# Face recognition
deepface

# YOLO
ultralytics

pillow
scipy

torch
torchvision


